html {
  font-size: 16px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  padding: 4em;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}

.logo img {
  width: 140px;
}

/* Layout classes */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  background-color: white;
}

.flex-container > div {
  flex: 1;
}

.hero {
  height: 100vh;
  background-image: url(https://placecats.com/neo/300/200);
  background-repeat: no-repeat;
  background-position: center right;
  display: flex;
  align-items: center;
}

.hero div {
  width: 50%;
}

.grid ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.faq {
  flex-direction: row-reverse;
}
.faq img {
  width: 100%;
  height: auto;
}

.faq div:first-child {
  padding: 0 3rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
}
