html {
  font-size: 16px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  padding: 4em;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}

.logo img {
  width: 140px;
}

/* Layout classes */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  background-image: url(https://placecats.com/neo/300/200);
  background-repeat: no-repeat;
  background-position: center right;
  display: flex;
  align-items: center;
}

.hero div {
  width: 50%;
}
