h1 {
  font-size: 4em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 3.5em;
  line-height: 1.4;
}

h3 {
  font-size: 2.5em;
  line-height: 1;
  margin: 0;
}

.text-small {
  font-size: 0.85em;
  line-height: 1;
}
.text-medium {
  font-size: 1.275em;
  line-height: 1.5;
}

a,
a:visited,
a:focus,
a {
  transition: opacity 0.4s linear;
  color: var(--base-color);
}

a:hover {
  opacity: 0.5;
}

nav li a {
  text-decoration: none;
}
